 @font-face { /*Fuente importada de archivo */
  font-family: "CustomFont";
  src: url("HelveticaCE.woff2");
}
*{ /*Aplicamos la fuente a todo*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: CustomFont;
  }
body{ /*Valores por defecto para testear y no bugear la animacion*/
  z-index: 1;
  margin: 0;
  padding: 0;
  transform-origin: top left;
  transform: scale(1);
  min-height: 100vh;
  background-color: #0d1117;
}
::-webkit-scrollbar { /*Quitar la barrita de lateral de navegacion*/
  display: none;
}
.bubbles{ /* Burbujas del fondo*/
  z-index: -1;
  position: relative;
  display: flex;
}
.bubbles span{  /*El monton de burbujas*/
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(150s / var(--i));
}
.bubbles span:nth-child(even){  /*Solo las burbujas rosas*/
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
}
@keyframes animate {  /*Animacion de las burbujas*/
  0%
  {
    transform: translateY(100vh) scale(0);
  }
  100%
  {
    transform: translateY(-10vh) scale(1);
  }
}
#links { /* Menu dentro del header*/
  width: 99, 1%;
  height: 78px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(1,4,9,1)); /*Crea el efecto de transparecia con el 0 y el 1 finales :) descubierto al dedillo */
  text-align: center;
  justify-content: center;
  align-items: center;
}
#links li { /*li dentro de links dentro de header*/
  display: inline-block; /*Pa' que se alinean*/
  font-size: 20px;

  margin: 0 10px;
  text-align: center; /* Para centrar horizontalmente */
  line-height: 78px; /* Para centrar verticalmente */
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 99.86%;
  color: black;
  text-align: center;
  padding-bottom: 1mm;
  
}
footer p{
  color: white;
}
#flag { /*El icono del mando del header*/
  position: absolute;
  left: 100px;
  top: 0%;
  height: 100px;
  z-index: 2;
}
#flagFooter {
  display: inline-block; /* Cambia el comportamiento del elemento a inline-block */
  vertical-align: middle; /* Alinea verticalmente con el texto */
  margin-left: 10px; /* Espacio entre el texto y la imagen */
  height: 50px;
}

#texto{ 
  position: absolute;
  display: flex;
  color: #fdcf55;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; /* Juntamos todo, y lo cambiamos a negro */
  color: white;
}