body{
  border: 20px black dotted;
  margin: 0;
  padding: 0;
  transform-origin: top left;
  transform: scale(1);
  min-height: 100vh;
}
img {
  width:auto;
  height:100%;
}
::-webkit-scrollbar {
  width: 0px;
}
#titulo {
  color: white;
  font-size: 50px;
  text-align: center;
}
h1 {
  font-weight: 500;
}
header {
  width: 100%;
  height: 100px;
  background-image: url(../imagenes/fondoHeader.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -33.1px; /*Para que la imagen del bar este pegada al borde de arriba */
}
#links {
  width: 99, 1%;
  background-color: #fdcf55;
  opacity: 0.9;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}
#links li {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 99.86%;
  background-color: rgba(255, 255, 255, 1) 100%;
  color: black;
  text-align: center;
  border: 1px solid black;
  background-color: gray;
  padding-bottom: 1mm;
}
#flag {
  position: absolute;
  right: 2%;
  top: 0%;
  height: 100px;
  z-index: 2;
}
#flagFooter {
  margin: right;
  bottom: 0%;
  height: 50px;
}