 @font-face { /*Fuente importada de archivo */
  font-family: "CustomFont";
  src: url("HelveticaCE.woff2");
}
*{ /*Aplicamos la fuente a todo*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: CustomFont;
  }
body{ /*Valores por defecto para testear y no bugear la animacion*/
  margin: 0;
  padding: 0;
  transform-origin: top left;
  transform: scale(1);
  min-height: 50vh;
  background-color: #0d1117;
}
::-webkit-scrollbar { /*Quitar la barrita de lateral de navegacion*/
  display: none;
}
.bubbles{ /* Burbujas del fondo*/
  position: relative;
  display: flex;
}
.bubbles span{  /*El monton de burbujas*/
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(250s / var(--i));
}
.bubbles span:nth-child(even){  /*aplica estilos específicos a todos los elementos <span> que son hijos pares de bubble*/
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544,
  0 0 50px #ff2d75,
  0 0 100px #ff2d75;
  z-index: -1;
}
@keyframes animate {  /*Animacion de las burbujas*/
  0%
  {
    transform: translateY(10vh) scale(0);
  }
  100%
  {
    transform: translateY(-300vh) scale(1);
  }
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; /* Juntamos todo, y lo cambiamos a negro */
  color: white;
}
header{   /* Menu del header*/
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(1,4,9,1)); /*Crea el efecto de transparecia con el 0 y el 1 finales :) descubierto al dedillo */
  text-align: center;
  justify-content: center;
  align-items: center;
}
header li{  /*li dentro de links dentro de header*/
  display: inline-block; /*Pa' que se alinean*/
  font-size: 20px;
  margin: 0 10px;
  text-align: center; /* Para centrar horizontalmente */
  line-height: 78px; /* Para centrar verticalmente */
}
#flag { /*El icono del mando del header*/
  position: absolute;
  left: 100px;
  top: 0%;
  height: 100px;
}
.panel{ /*El panel debajo del menu*/
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
}
.item1 {
  border: 1px red solid;
  color: red;
  grid-area: 1 / 1 / 3 / 6;/*Esta propiedad es: row-start / col-start / row-rend / col-end */
  display: flex; /* Convertir el div en un contenedor flexible */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}
.item1 p{
  border: 1px green dotted;
  margin-left: 2vb;
}
.item2 {
  border: 1px purple solid;
  color: purple;
  grid-area: 3 / 1 / 5 / 6;
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
 /*Esta propiedad es: row-start / col-start / row-rend / col-end  grid-area: 3/3/4/4;*/
}
.item2 .item2-1,
.item2 .item2-2,
.item2 .item2-3 {
  text-align: center; /* Alinear contenido del div al centro */
  margin: 0 10px;
}
.item2-1{
  border: 1px gray solid;
}
.item2-1 img{ /*La imagen del sudoku del segundo-primer-div*/
  height: 300px;
}
.item2-2{
  border: 1px greenyellow solid;
}
.item2-2 img{ /*La imagen de la terminal del segundo-segundo-div*/
  height: 300px;
}
.item2-3{
  border: 1px silver solid;
}
.item2-3 img{ /*La imagen del mapa hecho con Godot del segundo-tercer-div*/
  height: 300px;
}
.item3 {
  border: 1px yellow solid;
  color: yellow;
  grid-area: 5 / 1 / 7 / 3; 
}
#codSud{
  opacity: 0.9;
}
footer {
  position: absolute;
  left: 0;
  bottom: -5vh;
  width: 100%;
  color: black;
  text-align: center;
}
#logoGitHub{
  position: absolute;
  left: 100px;
  top: 0%;
  height: 100px;
}
footer p{
  color: white;
}
#flagFooter {
  display: inline-block; /* Cambia el comportamiento del elemento a inline-block */
  vertical-align: middle; /* Alinea verticalmente con el texto */
  margin-left: 10px; /* Espacio entre el texto y la imagen */
  height: 50px;
}
