body {
  background: linear-gradient(
    rgba(255, 201, 35, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background-repeat: no-repeat;
  margin: 0;
  position: relative;
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 0px;
}
#alergenos table {
  position: absolute;
  top: 22%;
  width: 90%; /* Aumentar el ancho de la tabla */
  text-align: center;
  margin: 0 auto; /* Centrar la tabla horizontalmente */
  left: 0;
  right: 0;
}
#alergenos th,
#alergenos td {
  padding: 5px; /* Reducir el relleno de las celdas */
  font-size: 17px; /* Reducir el tamaño del texto */
}
#alergenos img {
  max-width: 65px; /* Reducir el ancho máximo de las imágenes */
  max-height: 65px; /* Reducir la altura máxima de las imágenes */
}
#titulo {
  color: white;
  font-size: 50px;
  text-align: center;
}
h1 {
  font-weight: 500;
}
header {
  width: 100%;
  height: 100px;
  background-image: url("../imagenes/barra.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: -33.1px; /*Para que la imagen del bar este pegada al borde de arriba */
}
#links {
  width: 99, 1%;
  background-color: #fdcf55;
  opacity: 0.9;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}
#links li {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 99.86%;
  background-color: rgba(255, 255, 255, 1) 100%;
  color: black;
  text-align: center;
  border: 1px solid black;
  padding-bottom: 1mm;
}
#flag {
  position: absolute; /* Establece la posición absoluta */
  right: 2%; /* Margen del 5% desde el borde derecho */
  top: 0%; /* Margen del 5% desde el borde superior */
  height: 100px; /* Altura fija */
  z-index: 2; /* Asegura que esté por encima de otros elementos */
}
#flagFooter {
  margin: right;
  bottom: 0%;
  height: 50px;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; /* Juntamos todo, y lo cambiamos a negro */
  color: black;
}
#mapa {
  width: 100%; /* Ocupa el ancho completo de la página */
  height: 20%;
  position: absolute; /* Mantiene la posición como absolute */
  bottom: 10%; /* Ajusta la distancia desde abajo */
  left: 0; /* Asegura que esté pegado al borde izquierdo */
  right: 0; /* Asegura que ocupe todo el ancho */
} /*Cosas del menu ↓↓↓*/
.container {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 25%;
  color: black;
  z-index: 3;
  text-align: center;
}
.container ul {
  text-align: center;
  list-style-type: none;
}
.container img {
  max-width: 300px; /* Imagenes del menu ancho */
  max-height: 300px; /* Imagenes del menu alto */
  text-align: center;
}
#nMapa {
  border-width: 10px;
  position: absolute;
  bottom: 14%;
  left: 0;
  right: 0;
}
#entrantes {
  padding: 1%;
  padding: auto;
  position: absolute;
  left: -42%;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-color: #997a1d;
}
#primeros {
  padding: 1%;
  text-align: center;
  position: absolute;
  left: -1%;
  border-style: solid;
  border-width: 2px;
  border-color: #997a1d;
}
#segundos {
  padding: 1%;
  text-align: center;
  position: absolute;
  left: 40%;
  border-style: solid;
  border-width: 2px;
  border-color: #997a1d;
}
#postres {
  padding: 1%;
  text-align: center;
  position: absolute;
  left: 81%;
  border-style: solid;
  border-width: 2px;
  border-color: #997a1d;
}

#face {
  height: 25px;
  margin: right;
  bottom: 10%;
  height: 50px;
}
#insta {
  height: 25px;
  margin: right;
  bottom: 10%;
  height: 50px;
}

#twitter {
  height: 25px;
  margin: right;
  bottom: 10%;
  height: 50px;
}
