header{
    background-color: #444243;
    color: white;
    font-size: 400%;
    text-align: center;
}
footer{
    color: white;
}
p{
    color: white;
}
#menucito{
    position: relative;
    text-align: center;
    border-style: solid;
    background-color: #444243;
}
a{
    color: white;
    text-decoration: none;
}
body{
    background-image: url("background-flores.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    z-index: 1;
}
#proyectos{
    border-color: white;
    border-style: solid;
    border-width: 1px;
}
#motos{
    margin: 10px;
    padding: 10px;
    width: 39vw;
    text-align: left;
}
#scripts{
    text-align: center;
    position:fixed;
    top: 25%;
    left: 50%;
    border-color: white;
    color: white;
    margin: 10px;
    padding: 10px;
    width: 39vw;
    text-align: left;
}
#web{
    color: black;
}
#pagMoto{
height: 200px;
}
#hotkeys{
    height: 180px;
    left: 56%;
    position: fixed;
}
#expeDiv{
    border-color: white;
    border-style: solid;
    border-width: 1px;
    position: absolute;
    padding-left: 10%;
}
    
